.todoList {
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 40vh;
  @apply flex flex-col gap-2;
}

.todoList::-webkit-scrollbar {
  @apply hidden;
}

.todoItem {
  border: 1px solid #333;
  @apply p-1 px-2 w-full rounded-md flex items-center justify-between hover:bg-[#464331];
}

.todoCompleted {
  text-decoration: line-through;
  color: #7d7d7d;
}
